/* Default reusable table styles */
.default-table{
    margin-top: $margin-2;

    &__table{
        border-collapse: collapse;
        font-size: $normal;
        width: 100%;

        & thead {
            background-color: $table-color-1; /* Optional background color for the header */
        }
    
        & th, & td {
            font-family: tahoma;
            padding: $padding-1;
            text-align: left; 
            border: 1px solid $table-color-2;
            
        }

        
    }

    &__image{
        max-width: 10rem;
    }
}


