// This is the base of my css that change on different screen sizes

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* removing borders on all buttons inputs */
*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    tbody{
        background: $color-white;
    }

   /*  @include responsive(big-desktop){
        font-size: 62.5%;
    }

 
    @include responsive(phone){
        font-size: 50%;
    } */

}

body {
    line-height: 1.7;
    font-weight: 400;
    font-size: 1.6rem;
    color: $font-color;
    background-color: $secondary-color;
    font-family: Tahoma;
}

h1{ 
    font-size:2.5r;
}

h2{
    font-size:2rem;
}

h3{
    font-size:1.5rem;
}

h4{
    font-size:1.25rem;
}

h5{
    font-size:1rem ;
}

h6{
    font-size:0.875rem;
}


p{
   
    font-size: 1.6rem;
}
