//Blog Section

.blog-section {
    padding: 1.6rem 0;

    @include responsive(small-phone) {
        padding: $padtop-3 0;
    }
}

// Article Section

.page-section {
    @extend %padding-default;
    @include responsive(small-phone) {
        padding: $padtop-3 0;
    }

    
}